<%= form_for(prepare_for_path(target) + [ target.activities.build], :remote => true, :html => {:class => 'form-new-news'}) do |f| %>
    <div>
      <%= f.text_area :text, :class => 'input-xlarge', :rows => '1', :placeholder => t(:add_comment) %>
    </div>
    <div>
      <%= f.submit t(:add),:class => 'btn btn-mini hide' %>
    </div>
    <%= hidden_field_tag :state, state %>
<% end %>