<% comments = target.comments %>
<% events = target.related_events %>
<div class="news">
  <% if user_signed_in? %>
      <div class="comments-add-new">
        <% if target.participates_in_this?(current_user) %>
            <%= render :partial => 'partials/add_activity', :locals => {:target => target, :state => 'news'} %>
        <% else %>
            <%= render :partial => 'partials/add_comment', :locals => {:target => target, :state => 'news'} %>
        <% end %>
      </div>
  <% end %>
  <div class="news-content">
    <% if events.count > 0%>
        <% events.order('created_at desc').limit(20).each do |event| %>
            <%= render :partial => event.news_template, :locals => {:event => event} %>
        <% end %>
    <% else %>
        <%= t :no_activity_yet %>
    <% end %>
  </div>
</div>