<% comments = target.comments %>
<div class="comments">
  <% if user_signed_in? %>
      <div class="comments-add-new">
        <% unless target.participates_in_this?(current_user) %>
            <%= render :partial => 'partials/add_comment', :locals => {:target => target, :state => 'comments'} %>
        <% end %>
      </div>
  <% end %>
  <div class="comments-content">
    <% if comments.count > 0%>
        <% comments.order('created_at desc').each do |comment| %>
            <%= render :partial => 'partials/comment', :locals => {:comment => comment} %>
        <% end %>
    <% else %>
        <%= t :no_comments_yet %>
    <% end %>
  </div>
</div>