<% unless stuff.city.nil? %>
    <div class="location">
      <i class="icon-location"></i>
      <%= link_to stuff.city.display_name, country_city_path(stuff.city.country, stuff.city)%>
    </div>
<% end %>