<a class="pull-right btn btn-small btn-manage" data-display="manage" href="#">
  <i class="icon-cog"></i>
  <%= t :manage %>
</a>
<div class="manage-dialog hide">
  <div class="popover bottom">
    <div class="arrow"></div>
    <div class="popover-inner">
      <div class="popover-content">
        <%= link_to t(:complete), :remote => true, :title => t(:complete_explanation), :class => 'btn' do %>
            <i class="icon-ok"></i>

        <% end %>
        <%= link_to t(:complete), :remote => true, :title => t(:complete_explanation), :class => 'btn btn-inverse' do %>
            <i class="icon-remove icon-white"></i>

        <% end %>
      </div>
    </div>
  </div>
</div>