<% unread_count = current_user.related_events.where("read != 1").count %>
<li>
<%= link_to notifications_path, :id => "notifications-link" do %>
      <div class="btn-notifications">
        <span class="notifications-icon"></span>
        <% if (unread_count > 0) %>
            <span class="notifications-unread-count"><%=unread_count%></span>
        <%end%>
      </div>
<% end %>
</li>