
<li>
<%= link_to notifications_path, :id => "notifications-link" do %>
      <div class="btn-notifications">
        <span class="notifications-icon"></span>
        <div class="notifications-count-container">
            <% unread_count = current_user.related_events.where("read != 't'").count %>
            <%= render :partial => 'partials/notifications_count'%>
        </div>
      </div>
<% end %>
</li>