<div id="participants" class="simple-panel">
  <div class="group-header">
    <%= t(:people_who_participates_in) + ' ' + task.title %>
  </div>
  <div class="base-panel">
    <%= render :partial => 'partials/user_row', :collection => task.participants, :as => :user %>
  </div>
</div>