<% people_count = project.users_count %>
<% tasks_count = project.tasks_count %>
<div class="span5 participators-count alert-info">
  <%= t :participates_project, :people_count => people_count, :tasks_count => tasks_count%>
</div>