<div class="row">
  <span class="task-row-image"><img style="max-height: 32px; max-width: 32px;" src="/images/rails.png" alt="Image"/></span>
  <div class="task-row-content">
    <h4><%= link_to task.title, project_task_path(task.project, task) %></h4>
    <p>
      <span><%= task.desc_short %></span>
    </p>
  </div>
</div>