<div class="span2 you-participate alert-success">
  <div>
    <%= t :you_participate%>
  </div>
  <div class="pull-right">
    <%= link_to t(:leave_participation), {:action => 'leave'}, :remote => true %>
  </div>
</div>