/*
put all hand-made css stuff here
*/
body{
    padding-top: 70px;
}

header{
    height: 70px;
    background-color: #F8F8F8;
    position: absolute;
    background-color: #fafafa;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d9edf7), color-stop(60%, #ffffff), to(#ffffff));
    background-image: -webkit-linear-gradient(#d9edf7, #ffffff 60%, #ffffff);
    background-image: -moz-linear-gradient(top, #d9edf7, #ffffff 60%, #ffffff);
    background-image: -ms-linear-gradient(#d9edf7, #ffffff 60%, #ffffff);
    background-image: -o-linear-gradient(#d9edf7, #ffffff 60%, #ffffff);
    background-image: linear-gradient(#d9edf7, #ffffff 60%, #ffffff);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9edf7', endColorstr='#ffffff', GradientType=0);
    left: 0;
    right: 0;
    top: 0;
}

footer{
    height: 100px;
    background-color: #F8F8F8;
    background-color: #fafafa;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(70%, #ffffff), to(#d9edf7));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 70%, #d9edf7);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 70%, #d9edf7);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 70%, #d9edf7);
    background-image: -o-linear-gradient(#ffffff, #ffffff 70%, #d9edf7);
    background-image: linear-gradient(#ffffff, #ffffff 70%, #d9edf7);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9edf7', GradientType=0);
}

a {
    color: #08c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
a:hover, a:active {
    outline: 0;
}

.logo{
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(51, 51, 51, 0.4);
}

.logo:hover{
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(51, 51, 51, 0.4);
    text-decoration: none;
    background-color: rgba(21,77,255,0.07);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.header-container{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.header-container > h2{
    display: inline-block;
}

.header-container:after{
    clear: both;
}

.nav {
    float: right;
    position: relative;
    left: 0;
    top: 3px;
}

.nav > li{
    float: left;
    margin-left: 10px;
}

.spike.btn-success{
    display: inline-block;
    padding: 4px 10px 4px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    *margin-left: .3em;
    text-decoration: none;
}

.spike.btn-success:hover {
    text-decoration: none;
    background-color: #51a351;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
}

.btn-danger{
    display: inline-block;
    padding: 4px 10px 4px;
    font-size: 13px;
    line-height: 18px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    *margin-left: .3em;
    text-decoration: none;
}

.btn-danger:hover {
    text-decoration: none;
    background-color: #bd362f;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

[class*='btn']:focus {
    border-style: none;
}

.big-cool-text{
    text-shadow: 0 1px 1px rgba(51, 51, 51, 0.6);
    font-size: 24px;
    font-weight: 700;
    color: #333;
}

.big-cool-text-2{
    text-shadow: 0 1px 1px rgba(51, 51, 51, 0.6);
    font-size: 20px;
    font-weight: normal;
    color: #333;
}

.big-cool-text-3{
    text-shadow: 0 1px 1px rgba(51, 51, 51, 0.6);
    font-size: 18px;
    font-weight: normal;
    color: #333;
}

.big-cool-text-4{
    text-shadow: 0 1px 1px rgba(51, 51, 51, 0.6);
    font-size: 14px;
    font-weight: normal;
    color: #333;
}

#join-us{
    float: right;
    margin-right: 250px;
    margin-top: 10px;
}

.join-btn{
    text-decoration: none;
    padding: 9px 14px;
    font-size: 24px;
    line-height: 27px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 1px rgba(51, 51, 51, 0.6);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.join-btn:hover{
    text-decoration: none;
}

.footer-container{
    width: 940px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #333;
}
.footer-links{
    list-style: none;
    font-size: 12px;
}

.footer-links > li{
    float: left;
    margin-left: 10px;
}

.footer-links > li > a{
    text-decoration: none;
}

.footer-links > li > a:hover{
    text-decoration: underline;
}

.footer-links > li:last-child{
    float: right;
    font-size: 10px;
}

#login-dialog{
    display: none;
    position: relative;
    z-index: 1000;
    float: right;
    left:  115px;
    top: 70px;
    width: 300px;

    background-color: white;

    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;
    -khtml-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;

    border: 1px solid #666;
    border-top: none;

    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(70%, #ffffff), to(#d9edf7));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 70%, #d9edf7);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 70%, #d9edf7);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 70%, #d9edf7);
    background-image: -o-linear-gradient(#ffffff, #ffffff 70%, #d9edf7);
    background-image: linear-gradient(#ffffff, #ffffff 70%, #d9edf7);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9edf7', GradientType=0);
}

#login-dialog-content{
    margin: 20px auto;
    width: 260px;
}

#notifications-dialog{
    display: none;
    position: relative;
    z-index: 1000;
    float: right;
    left:  200px;
    top: 40px;
    width: 300px;

    background-color: white;

    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;
    -khtml-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;

    border: 1px solid #bbbbbb;
    border-top: none;

    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#notifications-dialog-content{
    margin: 20px auto;
    width: 260px;
}
.notifications-list{
    list-style-type: none;
    border-top: none;
    margin: 0;
    height: 250px;
    overflow: hidden;
}
.btn-notifications{
    padding-bottom: 0px;
    display: inline-block;
    padding: 4px 10px 0px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    *margin-left: .3em;
}

.notifications-unread-count {
    position: absolute;
    top: -2px;
    left: 35%;
    float: left;
    margin-left: -7px;
    background: rgba(203, 108, 0, 0.8);
    border-bottom: 1px solid #8F4F07;
    border-radius: 2px;
    padding: 3px 4px;
    line-height: 1;
    font-size: 9px;
    color: white;
    font-weight: bold;
    white-space: nowrap;
}

.notifications-icon {

    width: 16px;
    height: 16px;
    display: inline-block;
}
.notifications-list li{
    height: 70px;
    display: block;
    overflow: hidden;
    border-top: 1px solid #bbbbbb;
    text-align: center
}

.notifications-list li.header{
    height: 40px;
    font-weight: bolder;
    color: #666;
    border-top: none;
    font-size: 13px;
}

p.notifications-dialog-title{
    padding: 0 140px 0 5px;
    margin: 0;
}

p.view-more{
    font-size: 10px;
    font-weight: normal;
    padding-bottom: 5px
}

div.new-notifications-count{
    background: #ffe45c;
    border-radius: 3px;
}

.immediate-login-controls{
    margin-top: 15px;
}

.immediate-login-controls > #cancel-btn{
    margin-left: 10px;
}

.immediate-login-controls > #submit-btn{
    float:right;
    height: 28px;
}

.span2-2{
    width: 160px;
}

.fb-login-button{
    background: #29447E url("/images/fb-btn.png") 0 -162px no-repeat;
    line-height: 26px;
    cursor: pointer;
    display: inline-block;
    padding: 0 4px 0 1px;
    text-decoration: none;
    outline: none;
    width: 93px;
    text-align: right;
    color: white;

    border-color: #51769e #51779f #7495b8;
    text-align: right;
    display: inline-block;
    font-size: 13px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    *margin-left: .3em;
}

.nav > li > .fb-login-button:hover, .fb-login-button:hover{
    background: #29447E url("/images/fb-btn.png") 0 -162px no-repeat ;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.17);
    color: #ffffff;
}

#tw-email{
    margin-top: 60px;
    clear:both;
}

.tw-login-button{
    background: #deebf3 url("/images/bird_32_blue.png") 1px -4px no-repeat;
    line-height: 24px;
    cursor: pointer;
    display: inline-block;
    border: 1px solid rgba(50,50,50,0.3);
    padding: 0 4px 0 1px;
    text-decoration: none;
    outline: none;
    width: 84px;
    text-align: right;
    color: #4D4D4D;

    text-align: right;
    display: inline-block;
    font-size: 13px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    *margin-left: .3em;
}

.nav > li > .tw-login-button:hover, .tw-login-button:hover{
    background: #ecf2f6 url("/images/bird_32_blue.png") 1px -4px no-repeat ;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.17);
    color: #4D4D4D;
}

#index-content{
    clear:both;
    margin-top: 100px;
}

.project-task{
    border: 1px solid rgba(50,50,50,0.2);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

.group-header:first-child{
    margin-top: 0;
}

.group-header{
    margin-top: 40px;
    margin-bottom: 7px;
    font-weight: 600;
}

.right-a-bit-align{
    margin-top: 10px;
    margin-left: 50px;
}

.base-panel{
    margin-bottom: 10px;
    font-size: 12px;
    color: #333;
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 3px;
}

.gray-background{
    background: #FAFAFA;
}

[class*="btn"].disabled {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

.related-content{
    margin-left: 10px;
    padding: 20px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top: none;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.base-panel > .row {
    margin-top: 10px;
    margin-left: 0;
}

.base-panel > .row:hover {
    background: #FAFAFA;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-left: 0;
}

.container{
    min-height: 800px;
}

.small-voter{
    margin-top: 4px;
}

.align-center{
    text-align: center;
}

.btn-support{
    padding: 0;
    width: 34px;
    height: 34px;
    border: none;
}

.btn-support.disabled.yes{
    background: url("/images/up-down-30.png") no-repeat -69px 0;
}

.btn-support.disabled.yes:hover{
    background-position: -69px 0;
}

.btn-support.yes{
    background: url("/images/up-down-30.png") no-repeat 4px 0;
}

.btn-support.yes:hover{
    background-position: 4px -1px;
}

.btn-support.no{
    background: url("/images/up-down-30.png") no-repeat -32px 0;
}

.btn-support.no:hover{
    background-position: -32px 1px;
}

.btn-support:hover{
    padding: 0;
}

.btn-support.disabled.no{
    background: url("/images/up-down-30.png") no-repeat -105px 0;
}

.btn-support.disabled.no:hover{
    background-position: -105px 0;
}

.small-project-link{
    background: #f0f0f0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.rating{
    text-align: center;
    width:80px;
    font-size: smaller;
}

.avatar{
    max-width: 220px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.8);
}

.btn-support-small{
    padding: 0;
    width: 20px;
    height: 20px;
    border: none;
}

.btn-support-small.yes{
    background: url("/images/up-down-16.png") no-repeat 3px 3px;
}

.btn-support-small.no{
    background: url("/images/up-down-16.png") no-repeat -17px 3px;
}

.btn-support-small.disabled.yes{
    background: url("/images/up-down-16.png") no-repeat -37px 3px;
}

.btn-support-small.disabled.no{
    background: url("/images/up-down-16.png") no-repeat -56px 3px;
}

.messages{
    margin-left: 10px;
}

.messages:empty{
    margin: 0;
}

.participators-count{
    padding: 2px;
    margin-bottom: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
    text-align: center;
    vertical-align: middle;
    border-color: #cccccc;
    color: #808080;
    background: #FAFAFA;
}

.participators-count.you-participate{
    background-color: #b8f0a3;
    transition: height 1s;
    -moz-transition: height .5s; /* Firefox 4 */
    -webkit-transition: height .5s; /* Safari and Chrome */
    -o-transition: height .5s; /* Opera */
    height: 20px;
    overflow:hidden;
    color: #468847;
}

.participators-count.you-participate:hover{
    height: 40px;
}

.participators-count.you-participate > div:last-child{
    padding: 0;
    margin-top: 3px;
    margin-right: 3px;
}

.participators-count.you-participate > div:last-child > a{
    color: #fcfcfc;
    font-size: 12px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.popover-inner{
    background: none;
}

.right-content{
    margin-left: 0;
}

.right-content > [class*="span"]{
    margin-left: 10px;
}

.desc-extension-link{
    margin-left: 20px;
}

.desc-sliced{
    -moz-transition: height .5s; /* Firefox 4 */
    -webkit-transition: height .5s; /* Safari and Chrome */
    -o-transition: height .5s; /* Opera */
    height: 180px;
    overflow: hidden;
}

.desc-sliced.extended{
    height: 100%;
}

.by-author{
    font-size: 12px;
    color: #808080;
    font-weight: 500;
    text-shadow: none;
    font-family: "Lato", "Helvetica", "Helvetica", "Arial", sans-serif;
}

.by-author > a{
    color: #08c;
}

.by-author > a:hover{
    text-decoration: none;
    color: #00A7FA;
}

.participators-count.you-participate.project:hover{
    height: 20px;
}

.participators-count.you-participate.project > div:last-child{
    margin: 0;
}

.nav > li > .vk-login-button:hover, .vk-login-button:hover{
    border-color: #92ACC7 #7293B7 #7293B7;
    background-color: #84A1BF;
    color: #ffffff;
}
.vk-login-button {
    border-color: #51769e #51779f #7495b8;
    background: #6688ad url("/images/vk_26.png") no-repeat;
    width: 80px;
    text-align: right;
    display: inline-block;
    padding: 4px 10px 4px;
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    *margin-left: .3em;
}

.provider-links:empty{
    margin: 0;
    padding: 0;
}

.provider-links{
    margin-left: 0;
    margin-top: 10px;
}

.provider-links > span{
    float: left;
    margin-left: 10px;
}


.provider-links > span:first-child{
    margin-left: 0;
}

.block-header{
    font-size: 12px;
    color: #808080;
    font-weight: 600;
    text-shadow: none;
    font-family: "Lato", "Helvetica", "Helvetica", "Arial", sans-serif;
}

.block-header > a{
    font-weight: 500;
}

.base-block{
    font-size: 12px;
    color: #333;
    padding: 6px;
    border: 1px solid #DDD;
    border-radius: 3px;
}

.user-face{
    float: left;
    height: 68px;
    font-size: 11px;
    text-align: center;
    width: 68px;
}

.base-block:after{
    content: "";
    clear: both;
    display: block;
}

.messages:before{
    content: "";
    clear: both;
    display: block;
}

.width-100{
    width: 100%;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.reg-form{
    width: 700px;
}

.reg-form > form{
    margin-top: 20px;
}

.margin-vertical{
    margin: 10px 0;
}

.activity-navigation > a:hover{
    text-decoration: none;
}

.news, .comments{
    margin-top: 20px;
}

.news-single-face, .comment-face{
    float: left;
}

.news-single, .comment{
    width: 400px;
}

.news-single-body, .comment-body{
    width: 370px;
    margin-left: 40px;
}
.news-single-info, .comment-info{
    width: 370px;
    margin-left: 40px;
    margin-top: 3px;
}

.news-single-actions{
    float: right;
    margin-right: 10px;
}

.simple-gray{
    color: #808080;
    font-weight: 500;
    text-shadow: none;
    font-family: "Lato", "Helvetica", "Helvetica", "Arial", sans-serif;
}

.news-content, .comments-content{

}

.news-single > hr, .comment > hr{
    margin: 5px 0 7px 30px;
}

.news-add-new, .comments-add-new{
    width: 280px;
    margin-bottom: 10px;
}

.news-add-new input[type="submit"], .comments-add-new input[type="submit"]{
    float: right;
}

.news-add-new:after, .comments-add-new:after{
    content: "";
    clear: both;
    display: block;
}

.news-add-new > form, .comments-add-new > form{
    margin: 0;
}

[class*='-login-button']{
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

a[class*='-login-button']{
    text-decoration: none;
}

.news-add-new textarea, .comments-add-new textarea{
    overflow: hidden;
}

.main-content [class*='span']{
    margin-left: 10px;
}

.status:before{
    display: block;
    content: "";
    clear: both;
}

.description{
    width: 668px;
}

.btn-manage{
    margin-bottom: 5px;
}

.manage-dialog{
    position: absolute;
    z-index: 1000;
    float: right;
    height: 100px;
    top: 0;
    left: 0;
}

.manage-dialog .popover{
    position: static;
    display: block;
}

.manage-dialog .popover.bottom .arrow{
    left: 90%;
    margin-top: 5px;
}

.light-green{

}

.icon-gray{
    background-image: url("../img/glyphicons-halflings-gray.png");
}

.icon-dark-gray{
    background-image: url("../img/glyphicons-halflings-dark-gray.png");
}

.icon-gray:hover{
    background-image: url("../img/glyphicons-halflings-dark-gray.png");
}

.small-voter-new > a{
    text-decoration: none;
}

[class*='icon'].disabled{
    background-image: url("../img/glyphicons-halflings-light-gray.png");
}

.form-new-news input[type='submit']{
    margin-left: 10px;
}

.manage-dialog a{
    margin-left: 10px;
}

.manage-dialog .popover-inner{
    width: 100%;
}