/*
put all hand-made css stuff here
*/
body{
    padding-top: 50px;
}

header{
    height: 30px;
    position: absolute;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-bottom-left-radius: 7px;
    border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-bottom-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e5e5e5));
    background-image: -webkit-linear-gradient(#ffffff, #e5e5e5);
    background-image: -moz-linear-gradient(top, #ffffff, #e5e5e5);
    background-image: -ms-linear-gradient(#ffffff, #e5e5e5);
    background-image: -o-linear-gradient(#ffffff, #e5e5e5);
    background-image: linear-gradient(#ffffff, #e5e5e5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
    border-bottom: 1px solid #999999;
    left: 0;
    right: 0;
    top: 0;
}

footer{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: 30px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e5e5e5), to(#ffffff));
    background-image: -webkit-linear-gradient(#e5e5e5, #ffffff);
    background-image: -moz-linear-gradient(top, #e5e5e5, #ffffff);
    background-image: -ms-linear-gradient(#e5e5e5, #ffffff);
    background-image: -o-linear-gradient(#e5e5e5, #ffffff);
    background-image: linear-gradient(#e5e5e5, #ffffff);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=0);
    -webkit-box-shadow: 0 -1px 2px #808080;
    -moz-box-shadow:0 -1px 2px #808080;
    box-shadow: 0 -1px 2px #808080;
    -webkit-border-top-left-radius: 7px;
    -moz-border-top-left-radius: 7px;
    border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-top-right-radius: 7px;
    border-top-right-radius: 7px;
}

a {
    color: #08c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline: 0;
}
a:hover, a:active {
    outline: 0;
}

.logo{
    position: relative;
    top: -4px;
}

.logo > a{
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(51, 51, 51, 0.9);
    padding: 0 5px;
    margin: 0;
}

.logo > a:hover{
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(51, 51, 51, 1), 0 -1px 2px rgba(255,255,255,0.5);
}

.header-container{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.header-container > h2{
    display: inline-block;
}

.header-container .nav {
    float: right;
    position: relative;
    margin-top: 1px;
}

.header-container .nav > li{
    float: left;
    margin-left: 10px;
}

.btn-sign{
    font-size: 12px;
    line-height: 12px;
    padding: 3px 6px;
    display: inline-block;
    color: #3072a6;
    text-align: center;
    text-shadow: 0 1px 1px white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    *margin-left: .3em;
    text-decoration: none;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #ccc;
}

.btn-sign:hover {
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
    color: #3a89c9;
}

.btn-sign:focus{
    padding: 4px 7px;
}

.btn-danger{
    display: inline-block;
    padding: 4px 10px 4px;
    font-size: 13px;
    line-height: 18px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    *margin-left: .3em;
    text-decoration: none;
}

.btn-danger:hover {
    text-decoration: none;
    background-color: #bd362f;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

[class*='btn']:focus {
    border-style: none;
}

.big-cool-text{
    text-shadow: 0 1px 1px rgba(51, 51, 51, 0.5);
    font-size: 24px;
    font-weight: 700;
    color: #333;
}

.big-cool-text-2{
    text-shadow: 0 1px 1px rgba(51, 51, 51, 0.5);
    font-size: 20px;
    font-weight: normal;
    color: #333;
}

.big-cool-text-3{
    text-shadow: 0 1px 1px rgba(51, 51, 51, 0.5);
    font-size: 18px;
    font-weight: normal;
    color: #333;
}

.big-cool-text-4{
    text-shadow: 0 0 1px rgba(51, 51, 51, 0.2);
    font-size: 14px;
    font-weight: normal;
    color: #333;
}

#join-us{
    float: right;
    margin-right: 250px;
    margin-top: 10px;
}

.join-btn{
    text-decoration: none;
    padding: 9px 14px;
    font-size: 24px;
    line-height: 27px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 1px rgba(51, 51, 51, 0.6);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.join-btn:hover{
    text-decoration: none;
}

.footer-container{
    width: 940px;
    padding-top: 6px;
    margin-left: auto;
    margin-right: auto;
    color: #333;
}
.footer-links{
    list-style: none;
    font-size: 14px;
    text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.8);
}

.footer-links > li{
    float: left;
    margin-left: 10px;
}

.footer-links > li > a{
    text-decoration: none;
    color: #3072A6;
}

.footer-links > li > a:hover{
    text-decoration: underline;
}

.footer-links > li:last-child{
    float: right;
    font-size: 10px;
    text-shadow: none;
}

.login-dialog{
    display: none;
    position: absolute;
    z-index: 1000;
    padding: 10px;
    right: 0;
    background-color: white;

    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;
    -khtml-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;

    border: 1px solid rgba(153, 153, 153, 0.8);
    border-top: none;

    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.login-dialog-content{
    width: 250px;
}

.login-dialog-content form{
    margin: 0;
}

.login-dialog-content hr{
    margin: 2px 0 0;
}

.notifications-dialog{
    display: none;
    position: absolute;
    z-index: 1000;
    right: 0;

    background-color: white;

    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;
    -khtml-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;

    border: 1px solid #bbbbbb;
    border-top: none;

    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.notifications-list{
    list-style-type: none;
    border-top: none;
    margin: 0;
    overflow: hidden;
}

.notifications-list .header{
    margin: 5px;
}
.btn-notifications{
    padding: 0 6px;
    display: inline-block;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 17px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    *margin-left: .3em;
}

.btn-notifications:focus{
    padding: 1px 7px;
}

.notifications-unread-count {
    position: absolute;
    top: -2px;
    margin-left: 12px;
    background: rgba(203, 108, 0, 0.8);
    border-radius: 4px;
    padding: 3px 4px;
    line-height: 1;
    font-size: 9px;
    color: white;
    font-weight: bold;
    white-space: nowrap;
}

.notifications-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.notifications-list li{
    display: block;
    overflow: hidden;
    border-top: 1px solid #bbbbbb;
}

.notifications-list li.header{
    font-weight: bolder;
    color: #666;
    border-top: none;
    font-size: 13px;
}
.header p {
    margin:0;
}
li.notification-member {
    width: 300px;
    line-height: 16px;
}

.notifications-single {
    padding: 3px 5px;
}

.notifications-single-face {
    float:left;
    width: 30px;
}
.notifications-single-body {
    margin-left: 32px;
}

p.view-more{
    font-size: 10px;
    font-weight: normal;
    padding-bottom: 5px
}

div.new-notifications-count{
    background: #ffe45c;
    border-radius: 3px;
}

.immediate-login-controls{
    margin-top: 10px;
}

.immediate-login-controls > #cancel-btn{
    margin-left: 10px;
}

.immediate-login-controls > #submit-btn{
    float:right;
    height: 28px;
}

.span2-2{
    width: 160px;
}

.fb-login-button{
    background: #29447E url("/images/fb-btn.png") 0 -162px no-repeat;
    line-height: 26px;
    cursor: pointer;
    display: inline-block;
    padding: 0 4px 0 27px;
    text-decoration: none;
    outline: none;
    text-align: right;
    color: white;

    border-color: #51769e #51779f #7495b8;
    text-align: right;
    display: inline-block;
    font-size: 13px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    *margin-left: .3em;
}

.fb-login-button:hover{
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.17);
    color: #ffffff;
}

#tw-email{
    margin-top: 60px;
    clear:both;
}

.tw-login-button{
    background: #deebf3 url("/images/bird_32_blue.png") 1px -4px no-repeat;
    line-height: 24px;
    cursor: pointer;
    display: inline-block;
    border: 1px solid rgba(50,50,50,0.3);
    padding: 0 4px 0 1px;
    text-decoration: none;
    outline: none;
    padding-left: 36px;
    text-align: right;
    color: #4D4D4D;

    text-align: right;
    display: inline-block;
    font-size: 13px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    *margin-left: .3em;
}

.tw-login-button.small{
    background: #deebf3 url("/images/bird_32_blue.png") no-repeat 1px -3px;
    background-size: 23px 23px;
    font-size: 12px;
    line-height: 13px;
    padding: 2px 6px 4px 26px;
}

.tw-login-button.small:hover{
    background: #deebf3 url("/images/bird_32_blue.png") no-repeat 1px -3px;
    background-size: 23px 23px;
}

.tw-login-button:hover{
    background: #ecf2f6 url("/images/bird_32_blue.png") 1px -4px no-repeat ;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.17);
    color: #4D4D4D;
}

.vk-login-button {
    border-color: #51769e #51779f #7495b8;
    background: #6688ad url("/images/vk_26.png") no-repeat;
    text-align: right;
    display: inline-block;
    padding: 4px 10px 4px 28px;
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    *margin-left: .3em;
}

.vk-login-button.small{
    font-size: 11px;
    line-height: 14px;
    padding: 3px 6px 3px 21px;
    background-size: 20px 21px;
}

.vk-login-button.small:hover, .vk-login-button:hover{
    border-color: #92ACC7 #7293B7 #7293B7;
    background-color: #84A1BF;
    color: #ffffff;
}

.fb-login-button, .tw-login-button, .vk-login-button{
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

.fb-login-button.small{
    font-size: 12px;
    line-height: 14px;
    padding: 3px 6px 3px 25px;
    background-position: -1px -211px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.fb-login-button.small:hover{
    color: #ffffff;
    background-color: #29447E;
}

a.fb-login-button, a.tw-login-button, a.vk-login-button{
    text-decoration: none;
}

#index-content{
    clear:both;
    margin-top: 100px;
}

.project-task{
    border: 1px solid rgba(50,50,50,0.2);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

.group-header:first-child{
    margin-top: 0;
}

.group-header{
    margin-top: 40px;
    margin-bottom: 7px;
    font-weight: 600;
    text-align: center;
}

.right-a-bit-align{
    margin-top: 5px;
    margin-left: 20px;
}

.base-panel{
    margin-bottom: 10px;
    font-size: 12px;
    color: #333;
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 3px;
}

.gray-background{
    background: #FAFAFA;
}

[class*="btn"].disabled {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

.related-content{
    margin-left: 10px;
    padding: 20px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top: none;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.participates-in .row, .base-panel > .row {
    margin-top: 5px;
    margin-left: 0;
}

.base-panel > .row:hover {
    background: #FAFAFA;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-left: 0;
}

.container{
    min-height: 800px;
}

.align-center{
    text-align: center;
}

.support-link{
    padding: 0;
    width: 28px;
    height: 30px;
    border: none;
    background: url("../images/glyphicons.png") repeat-x;
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.support-link.disabled{
    background: url("../images/glyphicons-gray.png") repeat-x;
    cursor: default;
    box-shadow: none;
}

.support-link:hover{
    background: url("../images/glyphicons-gray.png") repeat-x;
    background-color: #e8e8e8;
    border-radius: 5px;
}

.support-link.disabled:hover{
    background-color: transparent;
    border: none;
}

.support-link.yes{
    background-position: -145px -1006px;
}

.support-link.no{
    background-position: -97px -1006px;
}

.small-project-link{
    background: #f0f0f0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.rating{
    text-align: center;
    width:80px;
    font-size: smaller;
}

.avatar{
    max-width: 220px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.8);
}

.btn-support-small{
    padding: 0;
    width: 20px;
    height: 20px;
    border: none;
}

.btn-support-small.yes{
    background: url("/images/up-down-16.png") no-repeat 3px 3px;
}

.btn-support-small.no{
    background: url("/images/up-down-16.png") no-repeat -17px 3px;
}

.btn-support-small.disabled.yes{
    background: url("/images/up-down-16.png") no-repeat -37px 3px;
}

.btn-support-small.disabled.no{
    background: url("/images/up-down-16.png") no-repeat -56px 3px;
}

.messages{
    margin-left: 10px;
}

.messages:empty{
    margin: 0;
}

.participators-count{
    padding: 2px;
    margin-top: 4px;
    margin-bottom: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
    text-align: center;
    vertical-align: middle;
    border-color: #cccccc;
    color: #808080;
    background: #FAFAFA;
}

.participators-count.you-participate{
    position: absolute;
    background-color: #b8f0a3;
    transition: height 1s;
    -moz-transition: height .5s; /* Firefox 4 */
    -webkit-transition: height .5s; /* Safari and Chrome */
    -o-transition: height .5s; /* Opera */
    height: 20px;
    overflow:hidden;
    color: #468847;
}

.participators-count.you-participate:hover{
    height: 40px;
}

.participators-count.you-participate > div:last-child{
    padding: 0;
    margin-top: 3px;
    margin-right: 3px;
}

.participators-count.you-participate > div:last-child > a{
    color: #fcfcfc;
    font-size: 12px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.popover-inner{
    background: none;
}

.right-content{
    margin-left: 0;
}

.right-content > [class*="span"]{
    margin-left: 10px;
}

.desc-extension-link{
    margin-left: 20px;
}

.desc-sliced{
    -moz-transition: height .5s; /* Firefox 4 */
    -webkit-transition: height .5s; /* Safari and Chrome */
    -o-transition: height .5s; /* Opera */
    height: 180px;
    overflow: hidden;
}

.desc-sliced.extended{
    height: 100%;
}

.by-author{
    font-size: 12px;
    color: #808080;
    font-weight: 500;
    text-shadow: none;
    font-family: "Lato", "Helvetica", "Helvetica", "Arial", sans-serif;
}

.by-author > a{
    color: #08c;
}

.by-author > a:hover{
    text-decoration: none;
    color: #00A7FA;
}

.participators-count.you-participate.project:hover{
    height: 20px;
}

.participators-count.you-participate.project > div:last-child{
    margin: 0;
}

.provider-links:empty{
    margin: 0;
    padding: 0;
}

.provider-links{
    margin-left: 0;
    margin-top: 10px;
}

.provider-links > span{
    float: left;
    margin-left: 10px;
}


.provider-links > span:first-child{
    margin-left: 0;
}

.block-header{
    font-size: 12px;
    color: #808080;
    font-weight: 600;
    text-shadow: none;
    font-family: "Lato", "Helvetica", "Helvetica", "Arial", sans-serif;
    text-align: center;
}

.block-header > a{
    font-weight: 500;
}

.base-block{
    font-size: 12px;
    color: #333;
    padding: 6px;
    border: 1px solid #DDD;
    border-radius: 3px;
}

.base-block, .base-panel, .participators-count{
    -webkit-box-shadow: rgba(0, 0, 0, 0.298) 0 1px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.298) 0 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.298) 0 1px 1px;
}

.face {
    float: left;
    height: 68px;
    font-size: 11px;
    text-align: center;
    width: 68px;
}

.base-block:after{
    content: "";
    clear: both;
    display: block;
}

.messages:before{
    content: "";
    clear: both;
    display: block;
}

.width-100{
    width: 100%;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.reg-form{
    width: 700px;
}

.reg-form > form{
    margin-top: 20px;
}

.margin-vertical{
    margin: 10px 0;
}

.activity-navigation > a:hover{
    text-decoration: none;
}

.news, .comments{
    margin-top: 20px;
}

.news-single-face, .comment-face{
    float: left;
}

.news-single, .comment{
    width: 400px;
}

.news-single-body, .comment-body{
    width: 370px;
    margin-left: 40px;
}
.news-single-info, .comment-info{
    width: 370px;
    margin-left: 40px;
    margin-top: 3px;
}

.news-single-actions{
    float: right;
    margin-right: 10px;
}

.simple-gray{
    color: #808080;
    font-weight: 500;
    text-shadow: none;
    font-family: "Lato", "Helvetica", "Helvetica", "Arial", sans-serif;
}

.news-content, .comments-content{

}

.news-single > hr, .comment > hr{
    margin: 5px 0 7px 30px;
}

.news-add-new, .comments-add-new{
    width: 280px;
    margin-bottom: 10px;
}

.news-add-new input[type="submit"], .comments-add-new input[type="submit"]{
    float: right;
}

.news-add-new:after, .comments-add-new:after{
    content: "";
    clear: both;
    display: block;
}

.news-add-new > form, .comments-add-new > form{
    margin: 0;
}

.news-add-new textarea, .comments-add-new textarea{
    overflow: hidden;
}

.main-content [class*='span']{
    margin-left: 10px;
}

.status:before{
    display: block;
    content: "";
    clear: both;
}

.description, .base-panel.description{
    width: 668px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.298) 0 1px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.298) 0 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.298) 0 1px 1px;
}

.btn-manage{
    margin-bottom: 5px;
}

.manage-dialog{
    position: absolute;
    z-index: 1000;
    float: right;
    height: 100px;
    top: 0;
    left: 0;
}

.manage-dialog form{
    margin: 0;
}

.manage-dialog .popover{
    position: static;
    display: block;
}

.manage-dialog .popover.bottom .arrow{
    left: 90%;
    margin-top: 5px;
}

.light-green{

}

.icon-gray{
    background-image: url("../img/glyphicons-halflings-gray.png");
}

.icon-dark-gray{
    background-image: url("../img/glyphicons-halflings-dark-gray.png");
}

.icon-gray:hover{
    background-image: url("../img/glyphicons-halflings-dark-gray.png");
}

.small-voter > a{
    text-decoration: none;
}

.small-voter.vertical > a{
    display: block;
}

.small-voter.vertical{
    float: left;
}

[class*='icon'].disabled{
    background-image: url("../img/glyphicons-halflings-light-gray.png");
}

.form-new-news input[type='submit']{
    margin-left: 10px;
}

.manage-dialog a{
    margin-left: 10px;
}

.manage-dialog .popover-inner{
    width: 100%;
}

[class*="gly-icon-"] {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 24px;
    vertical-align: text-top;
    background-image: url("../images/glyphicons.png");
    background-repeat: no-repeat;
    *margin-right: .3em;
}

[class*="gly-icon-"]:last-child {
    *margin-left: 0;
}

.gly-icon-done {
    background-position: -385px -911px;
}

.inline-status{
    margin-left: 10px;
    position: relative;
    bottom: 4px;
    color: #ffffff;
    box-shadow: 1px 1px 1px rgba(51,51,51,0.4);
    z-index: 1000;
    padding: 1px 4px;
    font-size: 11.049999999999999px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.inline-status.completed{
    background-color: rgba(70, 135, 71, 0.8);
}

.inline-status.in_progress{
    background-color: rgba(0, 136, 204, 0.7);
}

.inline-status.canceled{
    background-color: rgba(201, 201, 201, 0.80);
}

.inline-status i{
    margin-right: 2px;
}

.simple-panel {
    margin-top: 10px;
}

.simple-panel .base-block{
    padding-top: 10px;
    border: none;
}

.news-single-face img {
    border-radius: 2px;
}

.blue-gradient{
    background: #4293D6;
    background-image: -moz-linear-gradient(top, #459ade, #2e6da3);
    background-image: -ms-linear-gradient(top, #459ade, #2e6da3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#459ade), to(#2e6da3));
    background-image: -webkit-linear-gradient(top, #459ade, #2e6da3);
    background-image: -o-linear-gradient(top, #459ade, #2e6da3);
    background-image: linear-gradient(top, #459ade, #2e6da3);
}

.inset-text-shadow {
    line-height: 1em;
    font-size: 7em;
    font-weight:bold;
    color:#000000;
    position:relative;
    text-shadow: -1.5px -1.5px 2px #3a3a3a;
}

.inset-text-shadow:before, .inset-text-shadow:after {
    content: attr(title);
    color: rgba(255,255,255,1);
    position: absolute;
    opacity:.12;
}
.inset-text-shadow:before {
    top: 1%;
    left: .2%;
}
.inset-text-shadow:after {
    top: 1.5%;
    left: .3%;
}

.inset-text-shadow.small{
    font-size: 2em;
    line-height: 1em;
    text-shadow: -0.5px -0.5px 0.5px #3a3a3a;
}

.task-row-image{
    float: left;
    margin-left: 3px;
    margin-top: 3px;
}

.task-row-content{
    float:left;
    width: 300px;
    margin-left: 5px;
}

.task-row-content .details-link{
    float: right;
    margin-right: 7px;
}

.task-row-content h4{
    float:left;
}

.task-row-info{
    float: right;
    margin-right: 20px;
}

.task-row-info > *{
    float: left;
}

.task-row-content hr{
    margin: 1px;
    float: left;
    width: 100%;
}

.task-row-participants i{
    margin-right: 1px;
}

.related-tasks.page{
    margin-left: 20px;
    margin-top: 20px;
}

.related-tasks{
    margin-top: -10px;
}

.related-tasks > .task-block{
    float: left;
    margin-left: 10px;
}

.related-tasks > .task-block:first-child{
    margin-left: 0;
}

.related-tasks:after{
    content: "";
    clear: both;
    display: block;
}

.related-tasks.page > .task-block, .related-tasks.page .task-row-content{
    width: auto;
}

.task-block{
    width: 320px;
}

.task-block .task-row-content{
    width: 220px
}

.task-block .task-row-content .task-row-info{
    margin-right: 0;
}

.task-row-rating{
    color: #696969;
    line-height: 12px;
    text-align: center;
    margin-top: -4px;
    font-weight: 600;
    font-size: 11px;
}

.task-block > .base-panel{
    -webkit-box-shadow: rgba(0, 0, 0, 0.298) 0 1px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.298) 0 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.298) 0 1px 1px;
}

.task-block-links{
    float: right;
    line-height: 10px;
}

.user-page-main{

}

.user-page-main > div{
    float:left;
}

.user-main-content > *{
    float: left;
}

.user-main-content{
    margin-left: 20px;
    width: 700px;
}

.user-main-content hr{
    width: 100%;
    margin: 5px 0;
}

.user-rating{
    text-align: center;
}

.user-name, .user-rating > h1{
    color: #000000;
    line-height: 1em;
    font-size: 3em;
    font-weight: bold;
}

.user-rating-title{
    margin-top: -7px;
    color: #808080;
    font-size: 0.8em;
}

.user-main-content .other-stuff{
    margin-top: 10px;
    width: 100%;
}

.header-container .signed{
    margin-top: 4px;
}

.task-face-rating{
    color: #696969;
    line-height: 12px;
    text-align: center;
    margin-top: -4px;
    font-weight: 600;
    font-size: 11px;
    position: relative;
    width: 50%;
    left: 50%;
    margin-left: -25%;
}

.task-face-link{
    word-wrap: break-word;
}

/*.task-face-rating.completed{*/
    /*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c5eec5), to(#e5e5e5));*/
    /*background-image: -webkit-linear-gradient(#c5eec5, #e5e5e5);*/
    /*background-image: -moz-linear-gradient(top, #c5eec5, #e5e5e5);*/
    /*background-image: -ms-linear-gradient(#c5eec5, #e5e5e5);*/
    /*background-image: -o-linear-gradient(#c5eec5, #00b500);*/
    /*background-image: linear-gradient(#c5eec5, #e5e5e5);*/
/*}*/

/*.task-face-rating.in_progress{*/
    /*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d8eaf8), to(#4498dc));*/
    /*background-image: -webkit-linear-gradient(#d8eaf8, #4498dc);*/
    /*background-image: -moz-linear-gradient(top, #d8eaf8, #4498dc);*/
    /*background-image: -ms-linear-gradient(#d8eaf8, #4498dc);*/
    /*background-image: -o-linear-gradient(#d8eaf8, #4498dc);*/
    /*background-image: linear-gradient(#d8eaf8, #4498dc);*/
/*}*/

/*.task-face-rating.canceled{*/
    /*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#c5c5c5));*/
    /*background-image: -webkit-linear-gradient(#f7f7f7, #c5c5c5);*/
    /*background-image: -moz-linear-gradient(top, #f7f7f7, #c5c5c5);*/
    /*background-image: -ms-linear-gradient(#f7f7f7, #c5c5c5);*/
    /*background-image: -o-linear-gradient(#f7f7f7, #c5c5c5);*/
    /*background-image: linear-gradient(#f7f7f7, #c5c5c5);*/
/*}*/

.user-page-main .block-header{
    color: #696969;

    font-weight: 600;
}

.user-page-main .face{
    height: auto;
}

.location{
    font-size: 13px;
    text-shadow: none;
    margin-top: 1px;
    color: #808080;
    margin-left: -17px;
}

.location:hover{
    color:#08c;
}

.location .icon-location{
    display: inline-block;
    width: 13px;
    height: 18px;
    line-height: 18px;
    vertical-align: middle;
    background: url("../images/location.png") no-repeat 0 0;
    margin-top: -3px;
}

.location > a{
    color: inherit;
}

.no-shadow{
    text-shadow: none;
}

.span1n5{
    width: 90px;
}

.participates-in{
    margin-top: 10px;
    padding: 10px 0;
}

.participates-in > div{
    float: left;
    margin-left: 10px;
}

.user-news{
    margin-top: 10px;
    padding: 20px;
}

.user-news .news{
    margin-top: 5px;
}

.user-news-single{
    float: left;
    padding: 10px 15px 10px;
    margin-top: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgba(219, 219, 219, 0.7);
    -webkit-box-shadow: rgba(0, 0, 0, 0.298) 0 1px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.298) 0 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.298) 0 1px 1px;
}

.user-news-single:first-child{
    margin-top: 0;
}

.user-news-single hr{
    display: none;
}

.new-task label, .new-task input, .new-task textarea{
    font-size: 14px;
}

.new-task .control-label{
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.new-task .form-horizontal .controls{
    margin-left: 200px;
}

.new-task .form-horizontal .control-label{
    width: 180px;
}

.new-task .form-horizontal input[type="submit"]{
    margin-right: 180px;
}

.add-new-task{
    display: inline-block;
    position: relative;
    top: -7px;
    margin-left: 200px;
}

.new-task-btn-header{
    padding: 2px 6px;
    font-size: 12px;
    line-height: 15px;
}

.nav > li > .new-task-btn-header:hover{
    background-color: #51a351;
}

.new-task-btn-header i {
    margin-right: 3px;
}

.help{
    color: #808080;
    font-size: 10px;
    text-shadow: none;
    position: relative;
    top: -7px;
}