/*
put all hand-made css stuff here
*/
body{
    padding-top: 100px;
}

header{
    height: 100px;
    background-color: #F8F8F8;
    position: absolute;
    background-color: #fafafa;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d9edf7), color-stop(60%, #ffffff), to(#ffffff));
    background-image: -webkit-linear-gradient(#d9edf7, #ffffff 60%, #ffffff);
    background-image: -moz-linear-gradient(top, #d9edf7, #ffffff 60%, #ffffff);
    background-image: -ms-linear-gradient(#d9edf7, #ffffff 60%, #ffffff);
    background-image: -o-linear-gradient(#d9edf7, #ffffff 60%, #ffffff);
    background-image: linear-gradient(#d9edf7, #ffffff 60%, #ffffff);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9edf7', endColorstr='#ffffff', GradientType=0);
    left: 0;
    right: 0;
    top: 0;
}

footer{
    height: 100px;
    background-color: #F8F8F8;
    background-color: #fafafa;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(70%, #ffffff), to(#d9edf7));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 70%, #d9edf7);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 70%, #d9edf7);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 70%, #d9edf7);
    background-image: -o-linear-gradient(#ffffff, #ffffff 70%, #d9edf7);
    background-image: linear-gradient(#ffffff, #ffffff 70%, #d9edf7);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9edf7', GradientType=0);
}

a {
    color: #08c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
a:hover, a:active {
    outline: 0;
}

.logo{
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(51, 51, 51, 0.4);
}

.logo:hover{
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(51, 51, 51, 0.4);
    text-decoration: none;
    background-color: rgba(21,77,255,0.07);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.header-container{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.header-container > h2{
    display: inline-block;
}

.header-container:after{
    clear: both;
}

.nav {
    float: right;
    position: relative;
    left: 0;
    top: 3px;
}

.nav > li{
    float: left;
    margin-left: 10px;
}

.btn-success{
    display: inline-block;
    padding: 4px 10px 4px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    *margin-left: .3em;
    text-decoration: none;
}

.btn-success:hover {
    text-decoration: none;
    background-color: #51a351;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.btn-danger{
    display: inline-block;
    padding: 4px 10px 4px;
    font-size: 13px;
    line-height: 18px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    *margin-left: .3em;
    text-decoration: none;
}

.btn-danger:hover {
    text-decoration: none;
    background-color: #bd362f;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

[class*='btn']:focus {
    border-style: none;
}

.big-cool-text{
    text-shadow: 0 1px 1px rgba(51, 51, 51, 0.6);
    font-size: 24px;
    font-weight: 700;
    color: #333;
}

.big-cool-text-2{
    text-shadow: 0 1px 1px rgba(51, 51, 51, 0.6);
    font-size: 20px;
    font-weight: normal;
    color: #333;
}

.big-cool-text-3{
    text-shadow: 0 1px 1px rgba(51, 51, 51, 0.6);
    font-size: 18px;
    font-weight: normal;
    color: #333;
}

.big-cool-text-4{
    text-shadow: 0 1px 1px rgba(51, 51, 51, 0.6);
    font-size: 14px;
    font-weight: normal;
    color: #333;
}

#join-us{
    float: right;
    margin-right: 250px;
    margin-top: 10px;
}

.join-btn{
    text-decoration: none;
    padding: 9px 14px;
    font-size: 24px;
    line-height: 27px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 1px rgba(51, 51, 51, 0.6);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.join-btn:hover{
    text-decoration: none;
}

.footer-container{
    width: 940px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #333;
}
.footer-links{
    list-style: none;
    font-size: 12px;
}

.footer-links > li{
    float: left;
    margin-left: 10px;
}

.footer-links > li > a{
    text-decoration: none;
}

.footer-links > li > a:hover{
    text-decoration: underline;
}

.footer-links > li:last-child{
    float: right;
    font-size: 10px;
}

#login-dialog{
    display: none;
    position: relative;
    z-index: 1000;
    float: right;
    left:  318px;
    top: 70px;
    width: 300px;

    background-color: white;

    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;
    -khtml-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;

    border: 1px solid #666;
    border-top: none;

    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(70%, #ffffff), to(#d9edf7));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 70%, #d9edf7);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 70%, #d9edf7);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 70%, #d9edf7);
    background-image: -o-linear-gradient(#ffffff, #ffffff 70%, #d9edf7);
    background-image: linear-gradient(#ffffff, #ffffff 70%, #d9edf7);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9edf7', GradientType=0);
}

#login-dialog-content{
    margin: 20px auto;
    width: 260px;
}

.controls{
    margin-top: 15px;
}

.controls > #cancel-btn{
    margin-left: 10px;
}

.controls > #submit-btn{
    float:right;
    height: 28px;
    margin-right: 10px;
}

.span2-2{
    width: 160px;
}

.fb-login-button{
    background: #29447E url("/images/fb-btn.png") 0 -162px no-repeat;
    line-height: 26px;
    cursor: pointer;
    display: inline-block;
    padding: 0 4px 0 1px;
    text-decoration: none;
    outline: none;
    width: 93px;
    text-align: right;
    color: white;
}

.fb-login-button:hover{
    background: #29447E url("/images/fb-btn.png") 0 -162px no-repeat ;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.17);
    color: #ffffff;
}

#tw-email{
    margin-top: 60px;
    clear:both;
}

.tw-login-button{
    background: #deebf3 url("/images/bird_32_blue.png") 1px -4px no-repeat;
    line-height: 24px;
    cursor: pointer;
    display: inline-block;
    border: 1px solid rgba(50,50,50,0.3);
    padding: 0 4px 0 1px;
    text-decoration: none;
    outline: none;
    width: 84px;
    text-align: right;
    color: #4D4D4D;
}

.tw-login-button:hover{
    background: #ecf2f6 url("/images/bird_32_blue.png") 1px -4px no-repeat ;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.17);
    color: #4D4D4D;
}

#index-content{
    clear:both;
    margin-top: 100px;
}

.project-task{
    border: 1px solid rgba(50,50,50,0.2);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

.group-header{
    margin-top: 40px;
    margin-bottom: 7px;
    font-weight: 600;
}

.right-a-bit-align{
    margin-top: 10px;
    margin-left: 50px;
}

.base-panel{
    margin-bottom: 10px;
    font-size: 12px;
    color: #333;
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 3px;
    min-height: 50px
}

.gray-background{
    background: #FAFAFA;
}

[class*="btn"].disabled {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

.related-content{
    margin-top: 20px;
    padding: 20px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top: none;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.base-panel > .row {
    margin-top: 10px;
    margin-left: 0;
}

.base-panel > .row:hover {
    background: #FAFAFA;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-left: 0;
}

.container{
    min-height: 800px;
}

.small-voter{
    margin-top: 4px;
}

.align-center{
    text-align: center;
}

.support-small{
    height: 7px;
    width: 21px;
    font-size: 10px;
    line-height: 12px;
}

.small-project-link{
    background: #f0f0f0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}