html, body{
    height: 100%;
}

header{
    height: 30px;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;

    /* */
    background: #ffffff;
}

footer{
    width: 980px;
    margin-left: auto;
    margin-right: auto;

    height: 30px;
    clear: both;
    position: relative;
    z-index: 10;
    margin-top: -30px;
}

h1{
    font-size: 34px;
}

.container{
    width: 860px;
    height: auto;
    min-height: 100%;
}

.content{
    padding: 40px 40px 40px;
    border-left: 1px solid rgba(51,51,51,0.6);
    border-right: 1px solid rgba(51,51,51,0.6);
}

.content:after{
    clear: both;
    display: block;
    content: "";
}

.content-inner-left{
    float: left;
    max-width: 300px;
    min-height: 315px;
}

.content-inner-right{
    margin-left: 330px;
}

.content-inner-bottom{
    margin-left: 250px;
}

.image-box{
    margin-top: 10px;
}

.image{
    /*border-radius: 5px;*/
}

.project-descr{
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
}

.project-descr br:after{
    display: block;
    content: "";
    margin-top: 8px;
}

.project-descr-short{
    margin-top: 5px;
    color: #666666;
    font-size: 14px;
}

.project-liker{
    float: right;
    margin: 10px 20px 0 0;
}

.project-liker .progress{
    margin-bottom: 5px;
    height: 15px;
    background-color: #ededed;
    background-image: -moz-linear-gradient(top, #ededed, #f5f5f5);
    background-image: -ms-linear-gradient(top, #ededed, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ededed), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #ededed, #f5f5f5);
    background-image: -o-linear-gradient(top, #ededed, #f5f5f5);
    background-image: linear-gradient(top, #ededed, #f5f5f5);
    background-repeat: repeat-x;
}
.project-liker .progress .bar{
    height: inherit;
}

.progress .bar{
    border-radius: 4px;
}

.project-liker .btn{
    padding: 2px 5px;
}

.project-stats{
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
    text-shadow: 0 0 1px rgba(51,51,51,0.2);
}

.project-stats .count{
    font-size: 36px;
    font-weight: bold;
}

.project-actions{
    text-align: center;
    margin-top: 15px;
}

.project-tasks{
    margin-top: 10px;
}

.project-tasks .title{
    font-size: 24px;
    margin-left: 80px;
}

.project-tasks hr{
    margin: 10px 0 10px 80px;
}

.task{
    min-height: 70px;
    margin-top: 4px;
}

.task:after{
    display: block;
    content: "";
    clear: both;
}

.task > .description{
    font-size: 14px;
}

.task-small-img{
    float: left;
    margin-right: 10px;
    min-width: 70px;
    text-align: center;
}

.task-small-img img{
    max-height: 65px;
    max-width: 65px;
    border-radius: 3px;
    border: 1px solid #6e6e6e;
    box-shadow: 0 1px 1px rgba(51,51,51,0.3), 0 -1px 1px rgba(51,51,51,0.3);
}

.location{
    font-size: 16px;
    color: #525252;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
}

.location:hover{
    color:#08c;
}

.location .icon-location{
    display: inline-block;
    width: 22px;
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
    background: url("../images/location-big.png") no-repeat 0 0;
    margin-top: -3px;
    margin-right: -3px;
    -o-transform: scale(.6,.6);
}

.location > a{
    color: inherit;
}

.vote{
    height: 32px;
    width: 32px;
    background: url("../images/glyphicons.png") no-repeat;
    display: block;
}

.vote.up{
    background-position: -143px -1629px;
}

.vote.down{
    background-position: -191px -1629px;
}

.btn.join{
    background-image: -o-linear-gradient(top, #ffffff, #dedede);
    background-color: #dedede;
    background-image: -moz-linear-gradient(top, #ffffff, #dedede);
    background-image: -ms-linear-gradient(top, #ffffff, #dedede);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
    background-image: linear-gradient(top, #ffffff, #dedede);
    background-repeat: repeat-x;
}

.btn.join:hover{
    background-position: 0 -32px;
}

.btn-join-text{
    font-size: 20px;
    line-height: 24px;
    margin: 5px 14px;
}