<div id="index-title"><%= t :project_title %></div>
<div id="index-explanation"><%= t :project_description %></div>


<div id="join-us">
  <%= link_to 'Присоединится!', new_user_registration_path, :class => 'join-btn btn-warning' %>
</div>