<div id="index-title">Наш проект</div>
<div id="index-explanation">Это просто очень классная штука</div>


<div id="join-us">
  <%= link_to 'Присоединится!', new_user_registration_path, :class => 'join-btn btn-warning' %>
</div>