<!DOCTYPE html>
<html>
<head>
  <title>Vote for your favorite books! Best Books Ever.</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
<header>
  Things to be done
</header>
<div class="container">
  <%= yield %>
</div>

<footer>

</footer>
</body>
</html>
